@import "assets/sass/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Architects Daughter", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  &__logo {
    width: 100px;
  }
  &__welcome {
    margin-top: 16px;
    padding: 8px;
    line-height: 18px;
    color: #006699;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 500;
  }
}
